header{
    background-color: var(--colorBlue);
    display: flex;
    justify-content: space-between ;
    align-items: center;
    
}
.logo{
    width: 3.125rem;
}
.logo img{
    width: 100%;
}

.Help{
    color: var(--colorGreen);
    font-weight: bolder;
}


